# App Config
ENV=local
WEB_PORT=8080
DB_RETRY_COUNT=5

# Database Config for Docker Compose
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=rest_api_poc_db
POSTGRES_PORT=5433

# Application DB Connection String
# Note: When running the app locally (outside docker), use 'localhost'.
# When running inside docker, change 'localhost' to 'postgres'.
DB_CONNECTION_STRING=postgres://postgres:postgres@localhost:5433/rest_api_poc_db?sslmode=disable

# Auth Config
JWT_SECRET=your-secret-key-change-me-in-prod

